<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <header>
            <h1>My Project</h1>
            <nav>
                <a href="{{ url_for('homepage') }}">Home</a>
                <a href="{{ url_for('signup') }}">Signup</a>
            </nav>
        </header>
    </header>
    <h2>Welcome to the Homepage</h2>
    <p>This is the homepage of my project.</p>
    <a href="./layout.html">content</a>
</body>
</html>

